<html !DOCTYPE>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <!-- Nav Bar  -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="#">
                <img src="/assets/logo.jpg" class="ms-3" width="60px" height="60px" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto text-center">
                    <li>
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="./Emteam">Employee Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="./Tasktodo">Task List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./RJobs">Recruitement</a>
                    </li>
                </ul>
                <!-- <ul class="navbar-nav mx-auto text-center">
                    <li>
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./dashboard">Terms and Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="./Emteam">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="./Tasktodo">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./RJobs">Jobs</a>
                    </li>
                </ul> -->
                <div class="d-flex justify-content-center">
                    <a href="./in" class="btn btn-primary w-100">Sign in</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Hero -->
    <main class="row py-5">
        <div class="col-12 col-md text-center p-5">
            <h1 class=" mt-5">Magnetize</h1>
            <h2>Your Workplace</h2>
            <h2>Management Solution</h2>
            <p class="mb-5">Unlock efficiency with Magnet, your all-in-one workplace management platform. Simplify HR
                tasks and elevate employee experience. Ready to transform your workplace?</p>
            <a href="./RJobs" class="btn btn-primary">Get Start Today</a>
        </div>
        <div class="col-12 col-md ">
            <img src="./assets/logo.jpg" class="w-100" alt="">
        </div>
    </main>
    <!-- Relations -->
    <section class="p-5" style="background: #bebebe;">
        <h2 class="text-center text-dark">Trust built on 2000+ global partnerships.</h2>
        <ul class="trust mt-5">
            <li><i class="fa-brands fa-facebook text-primary"></i> <a href="">Facebook</a></li>
            <li><i class="fa-brands fa-tiktok text-dark"></i> <a href="">Tik Tok</a></li>
            <li><i class="fa-brands fa-discord text-warning"></i> <a href="">Discord</a></li>
            <li><i class="fa-brands fa-youtube text-danger"></i> <a href="">You Tube</a></li>
            <li><i class="fa-solid fa-truck-fast text-info"></i> <a href="">Logis</a></li>
            <li><i class="fa-solid fa-bolt text-light"></i> <a href="">Bolt</a></li>
        </ul>
    </section>
    <!-- Key Features -->
    <section>
        <h1 class="text-center mt-5">Key Features</h1>
        <center>
            <div class="row justify-content-between mt-5" id="centering">
                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="fa-solid fa-user text-danger"></i>
                            <h3 class="text-danger">Candidate Tracking</h3>
                            <p>Effortlessly manage your hiring process with real-time candidate tracking</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="fa-solid fa-chart-line text-info"></i>
                            <h3 class="text-info">Analytics Dashboard</h3>
                            <p>Make data-driven decisions and foster professional growth with our performance analytics
                                dashboard</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="fa-solid fa-people-group text-success"></i>
                            <h3 class="text-success">Employee Management</h3>
                            <p>Simplify HR tasks with efficient employee information management through our centralized
                                database</p>
                        </div>
                    </div>
                </div>
            </div>
        </center>
        </div>
    </section>

    <section>
        <h1 class="text-center my-5">What Our Clients Say</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial">
                            <div class="pic">
                                <img src="/assets/Image 130 (1).jpg" alt="">
                            </div>
                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti dolor ipsum
                                molestias mollitia ut. Aliquam aperiam corporis cumque debitis delectus dignissimos.
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                            <h3 class="title">williamson
                                <span class="post"> - Web Developer</span>
                            </h3>
                        </div>

                        <div class="testimonial">
                            <div class="pic">
                                <img src="/assets/Image 130 (1).jpg" alt="">
                            </div>
                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti dolor ipsum
                                molestias mollitia ut. Aliquam aperiam corporis cumque debitis delectus dignissimos.
                                Lorem ipsum dolor sit amet, consectetur.
                            </p>
                            <h3 class="title">Kristina
                                <span class="post"> - Web Designer</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row">
        <div class="col text-center p-5">
            <h1 class=" mt-5">Let's grow together</h1>

            <p class="my-5">Discover the complete capabilities of our platform with a complimentary 15-day trial. Manage
                job postings, attract candidates, and facilitate employee onboarding, all within a single, integrated
                space.</p>
            <a href="" class="btn btn-primary">Get Start Today</a>
        </div>
        <div class="col d-none d-md-block">
            <img src="./assets/Image 132 (2).jpg" class="w-100" style="max-width: 400px;" alt="">
        </div>
    </section>



    <div class="container-fluid bg-light">
        <footer class="row row-cols-5 py-5 mt-5 mx-md-5 border-top text-dark">
            <div class="col text-dark">
                <a href="/" class="d-flex align-items-center mb-3 text-dark text-decoration-none"><img
                        src="./assets/logo.jpg" width="60px" height="60px" alt="">
                </a>
                <p class="text-dark">&copy; 2021</p>
            </div>

            <div class="col">

            </div>

            <div class="col ">
                <h5>Product</h5>
                <ul class="nav flex-column ">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Pricing</a></li>
                </ul>
            </div>

            <div class="col">
                <h5>Resources</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Blog</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">User grades</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Webinars</a></li>
                </ul>
            </div>

            <div class="col">
                <h5>Platform</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Parterners &
                            Integration</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Become a partner</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-secondary">Developer Api</a></li>
                </ul>
            </div>
        </footer>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#testimonial-slider").owlCarousel({
                items: 1,
                itemsDesktop: [1000, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
                pagination: false,
                navigation: true,
                navigationText: ["", ""],
                autoPlay: true
            });
        });
    </script>

</body>
