<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<style>
    * {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    .active {
        font-weight: bold;
        color: orangered !important;
    }

    .btn-orange {
        color: white;
        background: orangered !important;
    }

    .text-orange {
        color: orangered;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid container-md">
            <a class="navbar-brand" href="#">
                <img src="/assets/logo.jpg" class="ms-3" width="50px" height="50px" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav mx-auto text-center">
                    <li>
                        <a class="nav-link" aria-current="page" href="./">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./RJobs">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./dashboard">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./Tasktodo">About US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./Tasktodo">My Account</a>
                    </li>
                </ul>
                <div class="d-flex justify-content-center">
                    <a href=""></a>
                </div>
            </div>
        </div>
    </nav>


    <div class="container mt-5 mb-2 py-3" style="max-width: 900px;">
        <h1 class="text-center">My Profile</h1>
        <div class="container mt-5">
            <form class="mt-5" action="/RegisterApplicant" method="post" enctype="multipart/form-data">
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="fullName">1. Full Name: </label>
                            <input type="text" id="fullName" name="full_name" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="email">2. Email: </label>
                            <input type="email" id="email" name="email" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="password">3. Password: </label>
                            <input type="password" id="password" name="password" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="positionTitle">4. Position title: </label>
                            <input type="text" id="positionTitle" name="position_title" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="vacancyAnnouncementNumber">5. Vacancy Announcement Number:
                            </label>
                            <input type="text" id="vacancyAnnouncementNumber" name="vacancy_announcement_number"
                                class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="areaOfExpertise">6. The area of expertise you studied:
                            </label>
                            <input type="text" id="areaOfExpertise" name="area_of_expertise" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="educationLevel">7. Education Level: </label>
                            <input type="text" id="educationLevel" name="education_level" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="cgpa">8. CGPA: </label>
                            <input type="text" id="cgpa" name="cgpa" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="phoneNo">9. Phone No: </label>
                            <input type="text" id="phoneNo" name="phone_no" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="otherSkills">10. Other Skills: </label>
                            <textarea class="form-control mb-2" id="otherSkills" name="other_skills" rows="3"
                                placeholder="Major Subject"></textarea>
                        </div>
                    </div>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="education">11. EDUCATION</label>
                    <ul class="container">
                        <li>
                            <label class="form-label" for="gradSchoolName">Graduate School Name of School, City, State
                                or Country</label>
                            <input type="text" id="gradSchoolName" name="grad_school_name" class="form-control mb-2"
                                placeholder="Name Of School" />
                            From: <input type="date" id="gradSchoolFrom" name="grad_school_from"
                                class="form-control mb-2" placeholder="From" />
                            To: <input type="date" id="gradSchoolTo" name="grad_school_to" class="form-control mb-2"
                                placeholder="To" />
                        </li>
                        <li>
                            <label class="form-label" for="undergradSchoolName">Undergraduate College/University Name of
                                School, City, State or Country</label>
                            <input type="text" id="undergradSchoolName" name="undergrad_school_name"
                                class="form-control mb-2" placeholder="Name Of College" />
                            From: <input type="date" id="undergradSchoolFrom" name="undergrad_school_from"
                                class="form-control mb-2" placeholder="From" />
                            To: <input type="date" id="undergradSchoolTo" name="undergrad_school_to"
                                class="form-control mb-2" placeholder="To" />
                            <textarea class="form-control mb-2" id="undergradMajorSubject"
                                name="undergrad_major_subject" rows="3" placeholder="Major Subject"></textarea>
                        </li>
                        <li>
                            <label class="form-label" for="highSchoolName">High School/GED or Country Equivalent Name of
                                School, City, State or Country</label>
                            <input type="text" id="highSchoolName" name="high_school_name" class="form-control mb-2"
                                placeholder="Name Of School" />
                            From: <input type="date" id="highSchoolFrom" name="high_school_from"
                                class="form-control mb-2" placeholder="From" />
                            To: <input type="date" id="highSchoolTo" name="high_school_to" class="form-control mb-2"
                                placeholder="To" />
                            <textarea class="form-control mb-2" id="highSchoolMajorSubject"
                                name="high_school_major_subject" rows="3" placeholder="Major Subject"></textarea>
                        </li>
                        <li>
                            <label class="form-label" for="techSchoolName">Technical/Vocational School Name of School,
                                City, State or Country</label>
                            <input type="text" id="techSchoolName" name="tech_school_name" class="form-control mb-2"
                                placeholder="Name Of School" />
                            From: <input type="date" id="techSchoolFrom" name="tech_school_from"
                                class="form-control mb-2" placeholder="From" />
                            To: <input type="date" id="techSchoolTo" name="tech_school_to" class="form-control mb-2"
                                placeholder="To" />
                            <textarea class="form-control mb-2" id="techSchoolMajorSubject"
                                name="tech_school_major_subject" rows="3" placeholder="Major Subject"></textarea>
                        </li>
                    </ul>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="languages">12. LANGUAGES</label>
                    <ul class="container">
                        <li>
                            <label class="form-label" for="primaryLanguage">Primary/First Spoken/Native Language</label>
                            <input type="text" id="primaryLanguage" name="primary_language" class="form-control mb-2"
                                placeholder="Enter your primary language" />
                        </li>
                        <li>
                            <label class="form-label" for="language1">Language 1</label>
                            <input type="text" id="language1" name="language1" class="form-control mb-2"
                                placeholder="Enter language" />
                            <label class="form-label" for="competencyLevel1">Competency Level:</label>
                            <select class="form-control mb-2" id="competencyLevel1" name="competency_level1">
                                <option value="I">Level I: Basic Knowledge</option>
                                <option value="II">Level II: Limited Knowledge</option>
                                <option value="III">Level III: Good Working Knowledge</option>
                                <option value="IV">Level IV: Fluent</option>
                                <option value="V">Level V: Professional Translator/Interpreter</option>
                            </select>
                        </li>
                        <li>
                            <label class="form-label" for="language2">Language 2</label>
                            <input type="text" id="language2" name="language2" class="form-control mb-2"
                                placeholder="Enter language" />
                            <label class="form-label" for="competencyLevel2">Competency Level:</label>
                            <select class="form-control mb-2" id="competencyLevel2" name="competency_level2">
                                <option value="I">Level I: Basic Knowledge</option>
                                <option value="II">Level II: Limited Knowledge</option>
                                <option value="III">Level III: Good Working Knowledge</option>
                                <option value="IV">Level IV: Fluent</option>
                                <option value="V">Level V: Professional Translator/Interpreter</option>
                            </select>
                        </li>
                        <li>
                            <label class="form-label" for="language3">Language 3</label>
                            <input type="text" id="language3" name="language3" class="form-control mb-2"
                                placeholder="Enter language" />
                            <label class="form-label" for="competencyLevel3">Competency Level:</label>
                            <select class="form-control mb-2" id="competencyLevel3" name="competency_level3">
                                <option value="I">Level I: Basic Knowledge</option>
                                <option value="II">Level II: Limited Knowledge</option>
                                <option value="III">Level III: Good Working Knowledge</option>
                                <option value="IV">Level IV: Fluent</option>
                                <option value="V">Level V: Professional Translator/Interpreter</option>
                            </select>
                        </li>
                    </ul>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="coverLetter">13. Work Experiance:</label>
                            <br>
                            <ul>
                                <li>
                                    <label class="form-label" for="jobTitle">Job Title</label>
                                    <input type="text" id="jobTitle" name="job_title" class="form-control mb-2"
                                        placeholder="Job Title" />
                                </li>
                                <li>
                                    <label class="form-label" for="jobFrom">From</label>
                                    <input type="date" id="jobFrom" name="job_from" class="form-control mb-2"
                                        placeholder="From" />
                                    To
                                    <input type="date" id="jobTo" name="job_to" class="form-control mb-2"
                                        placeholder="To" />
                                </li>
                                <li>
                                    <label class="form-label" for="employerEmail">Employer's Email</label>
                                    <input type="email" id="employerEmail" name="employer_email"
                                        class="form-control mb-2" placeholder="Employer's Email" />
                                    <label class="form-label" for="supervisorName">Supervisor's Name and Contact
                                        Information</label>
                                    <input type="text" id="supervisorName" name="supervisor_name"
                                        class="form-control mb-2" placeholder="Name" />
                                    <input type="text" id="supervisorPhone" name="supervisor_phone"
                                        class="form-control mb-2" placeholder="Phone Number" />
                                    <input type="email" id="supervisorEmail" name="supervisor_email"
                                        class="form-control mb-2" placeholder="Supervisor Email" />
                                </li>
                                <li>
                                    <label class="form-label" for="jobDuties">Describe your major
                                        duties/responsibilities and accomplishments.</label>
                                    <textarea class="form-control mb-2" id="jobDuties" name="job_duties" rows="3"
                                        placeholder=""></textarea>
                                </li>
                                <li>
                                    <label class="form-label" for="reasonForLeaving">Reason(s) for Leaving (Do not write
                                        "N/A" or "not applicable".)</label>
                                    <textarea class="form-control mb-2" id="reasonForLeaving" name="leaving_reason"
                                        rows="3" placeholder=""></textarea>
                                </li>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="resume">14, LICENSE and certifications :</label>
                            <textarea class="form-control mb-2" id="" name="license" rows="3"
                                placeholder="List professional licenses, certifications	SKILLS"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <label class="form-label" for="resume">15. CV:</label>
                            <input type="file" id="resume" name="resume" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="text-center row">
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </div>
            </form>
        </div>

</body>

</html>